<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a href="/" class="navbar-brand">School Scheduler</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mt-1">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/schedule" class="nav-link">Schedule</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="schoolDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">School configuration</a>
                    <div class="dropdown-menu" aria-labelledby="schoolDropdown">
                        <a class="dropdown-item" routerLink="/school/activity">Activities</a>
                        <a class="dropdown-item" routerLink="/school/hourSlot">Hour slots</a>
                        <a class="dropdown-item" routerLink="/school/teacher">Teachers</a>
                        <a class="dropdown-item" routerLink="/school/room">Rooms</a>
                        <a class="dropdown-item" routerLink="/school/participant">Student groups</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                <label class="btn btn-outline-primary btn-file ml-2 mt-2">
                    <i class="fa fa-upload"></i> Upload config <input type="file" id="file" hidden (change)="fileChanged($event)">
                </label>
                <button class="btn btn-outline-primary ml-2 mt-2 mb-2" (click)="downloadConfig()"><i class="fa fa-download"></i> Save current config</button>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>